# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.pytest_cache/
*.env

# Virtual environments
venv/
env/
.env/

# Docker
*.log
*.pid
*.sock
docker-compose.override.yml
*.env.override
*.tmp

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build / Dist
build/
dist/
*.egg-info/

